/* Estilos generales para el Card */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #000000;
  }
  
  .card p {
    font-size: 1rem;  
    color: #000000;  
  }
  
  button {
    font-size: 1.1rem;  
    padding: 12px; 
    font-weight: 700;  
    border-radius: 8px;  
  }
  
  button.btn-outline-danger {
    border: 2px solid #FF9800;
    color:  #FF9800;
  }
  
  button.btn-outline-danger:hover {
    background-color: #d47f00;
    border: 2px solid #d47f00;
    color: white;
  }
  
  button.btn-outline-primary {
    border: 2px solid #000000;
    color: #000000;
  }
  
  button.btn-outline-primary:hover { 
    background-color: #f34eac;
    color: rgb(255, 255, 255);
    border: 2px solid #f34eac;
  }
  
  button.btn-link {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
  }
  
  button.btn-microsoft {
    border: 2px solid  #50a5eb;
    color:  #50a5eb;
  }

  button.btn-microsoft:hover {
    background-color: #5035ea;
    color: white;
  }


  button.btn-link:hover {
    text-decoration: underline;
  }
  
 
  button .me-2 {
    margin-right: 10px;  
  }
  
  .logo-trivialogin img {
    width: 300px; 
    height: auto;
    margin-bottom: 15px;
  }
  
  