@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.trivia-container {
  background-image: url('../IMG/Fondo.jpg');
  background-size: cover;
  background-position: center bottom;
  font-family: 'Luckiest Guy', cursive;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trivia-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 2rem;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.trivia-container .trivia-content .logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  width: 100%;
}

.start-button, .login-button, .hangman-button, .memory-button{
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 15px; 
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
  margin-bottom: 0.5rem; 
}

.start-button:hover, .login-button:hover, .hangman-button:hover, .memory-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.start-button {
  background-color: #f34eac;
}

.login-button {
  background-color: #50a5eb;
}

.hangman-button {
  background-color: #FF9800;
}

.memory-button {
  background-color: purple;
}

.start-button:hover {
  background-color: #fa1b89;
}

.login-button:hover {
  background-color: #2a78ca;
}

.hangman-button:hover {
  background-color: #ff7300;
}

.memory-button:hover {
  background-color: #680968;
}

.results-container {
  text-align: center;
  width: 100%;
}

.results-container button {
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  background-color: #2196F3;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

.results-container button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



@media (max-height: 600px) {
  .trivia-content {
    padding: 1.5rem;
  }
  
  .logo {
    max-width: 150px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .start-button, .login-button, .hangman-button, .memory-button .results-container button {
    padding: 0.8rem;
  }
}